{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="head"><h1>{{ title }}</h1></div>
<form method="post" class="card form">{% csrf_token %}
  {{ form.non_field_errors }}
  {% for f in form %}<label>{{ f.label }} {{ f }}{% if f.help_text %}<small>{{ f.help_text }}</small>{% endif %}{% for e in f.errors %}<small class="err">{{ e }}</small>{% endfor %}</label>{% endfor %}
  <div class="actions"><button class="btn">Save</button><a class="btn ghost" href="javascript:history.back()">Cancel</a></div>
</form>
{% endblock %}
